// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyB8gkzlg0HTQHfkRL5pVQlWlZ7mvR_Tb5o",
  authDomain: "test-50b90.firebaseapp.com",
  projectId: "test-50b90",
  storageBucket: "test-50b90.appspot.com",
  messagingSenderId: "660248936043",
  appId: "1:660248936043:web:211fb1cafbee4371b2bb2e",
  measurementId: "G-8VZXYGQ5DJ"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);
